<html op="item">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/news.css">
    <title>Stuff News</title>
</head>
<body>
    <center>
        <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f1f2f2">
            <tbody>
                <tr>
                    <td bgcolor="#e6e6e6">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                            <tbody>
                                <tr>
                                    <td style="width:18px;padding-right:4px">
                                        <a href="https://stuff.co.nz">
                                            <img src="/static/favicon.png" width="18" height="18">
                                        </a>
                                    </td>
                                    <td style="line-height:12pt; height:10px;">
                                        <span class="pagetop">
                                            <b class="hnname">
                                                <a href="/">stuff.co.nz</a>
                                            </b>
                                            <a href="newest">new</a> | <a href="newcomments">comments</a> | <a href="positive">most positive</a> | <a href="negative">most negative</a> | <font color="#000000">{{ user.name }}'s comments</font>
                                        </span>
                                    </td>
                                    <td style="text-align:right;padding-right:4px;">
                                        <span class="pagetop">
                                            <a href="#">login</a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </td>
                <tr id="pagespace" title="{{ article.title }}" style="height:10px"></tr>
                <tr><td></td></tr>
                {% for comment in comments %}
                <tr class="athing comtr" id="123">
                    <td>
                        <table border="0">
                            <tr>
                                <td class="ind"><img src="/static/s.gif" height="1" width="0"></td>
                                <td valign="top" class="votelinks">
                                    <center>
                                        <a id="up_123" href="#">
                                            <div class="votearrow" title="upvote"></div>
                                        </a>
                                    </center>
                                </td>
                                <td class="default">
                                    <div style="margin-top:2px; margin-bottom:-10px;">
                                        <span class="comhead">
                                            <a href="/user/{{ comment.author.uid }}">{{ comment.author.name }}</a>
                                            <span class="age"><a href="/article/{{ comment.article.ident }}">3 hours ago</a></span>
                                            <a class="togg" n="11" href="javascript:void(0)" onclick="return toggle(event, 18836967)">[-]</a>
                                            <span class="storyon"></span>
                                        </span>
                                    </div>
                                    <br>
                                    <div class="comment">
                                        <span class="commtext c00">
                                            {{ comment.body }}
                                        </span>
                                        <div class="reply">
                                            <p>
                                                <font size="1">
                                                    <u>
                                                        <a href="#">reply</a>
                                                    </u>
                                                </font>
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>
                        <img src="/static/s.gif" height="10" width="0">
                        <table width="100%" cellspacing="0" cellpadding="1">
                            <tbody>
                                <tr>
                                    <td class="colorbar"></td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <center>
                            <span class="yclinks">
                                <a href="#">FAQ</a> | <a href="https://stuff.co.nz">Stuff</a> | <a href="mailto:marcus@utf9k.net">Contact</a>
                            </span>
                            <br>
                            <br>
                            <form method="get" action="#">
                                Search: <input type="text" name="q" value size="17" autocorrect="off" spellcheck="false" autocapitilize="off" autocomplete="false">
                            </form>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
    <script type="text/javascript" src="/static/news.js"></script>
</body>
</html>